.query-date-selector {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
  background-color: rgba(43, 43, 43, 0.95);
  width: 100%;
  align-items: center;

  &__content {
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__bt-search {
    height: 56px;
  }
}
