.create-team {
  &__form {
    display: flex;
    gap: 8px;
    margin-bottom: 32px;

    &__content {
      display: flex;
      flex-direction: column;
      gap: 8px;
      flex: 1;
    }
  }

  &__user-lists {
    display: flex;
    flex: 1;
    gap: 8px;

    .user-list {
      flex: 1;

      .section-header {
        padding: 32px 0;

        h3 {
          font-weight: 100;
          margin: 0;
          font-size: 18px;
        }
      }

      &__item {
        display: flex;
        transition: border-color 1s ease-in,
          background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        background-color: transparent;

        &:nth-of-type(even) {
          background-color: transparent;
          .user.MuiListItem-root {
            background-color: transparent;
          }
        }

        .user.MuiListItem-root {
          background-color: transparent;
        }

        &:hover {
          background-color: rgba(255, 255, 255, 0.08);
        }

        &__bt-add {
          border-radius: 0;
        }
      }
    }
  }
}
