.team {
  display: flex;
  align-items: center;
  padding-top: 16px !important;
  padding-bottom: 16px !important;

  &:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.03);
  }

  &__avatar {
    margin-right: 10px;
  }

  &__name {
    font-size: 16px;
  }
}
