.team {
  display: flex !important;
  align-items: center !important;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
  background-color: rgba(255, 255, 255, 0.03) !important;
  transition: border-color 1s ease-in,
    background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  margin-bottom: 1px !important;

  &:hover {
    background-color: rgba(255, 255, 255, 0.08) !important;
  }

  &__avatar {
    margin-right: 10px;
  }

  &__name {
    font-size: 16px;
  }

  &.card {
    flex-direction: column;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 150px;
    background-color: rgba(255, 255, 255, 0.09);
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
    margin-bottom: 50px;

    @media screen and(min-width: 567px) {
      flex: 1 1 150px;
      margin-bottom: 30px;
    }

    .team {
      &__image {
        width: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 150px;
        transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
      }

      &__data {
        z-index: 1;
        background-image: linear-gradient(transparent, #303030 90%);
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding: 0;
        flex: 1;
      }
    }

    &:hover {
      .team__image {
        transform: scale(1.1);
      }
    }
  }
}
