.team-detail {
  .screen__header {
    &__left {
      display: flex;
      align-items: center;
      gap: 16px;

      .team-detail__avatar {
        width: 80px;
        height: 80px;
      }
    }
  }

  .section-header {
    padding: 32px 0;

    h3 {
      font-weight: 100;
      margin: 0;
      font-size: 18px;
    }
  }

  &__edit-team {
    position: fixed !important;
    bottom: 16px;
    right: 16px;

    @media screen and(min-width: 600px) {
      bottom: 24px;
      right: 24px;
    }
  }

  &__chart {
    margin-bottom: 32px;

    .section-header {
      padding-bottom: 16px;
    }
  }

  .user-list {
    flex: 1;

    &__item {
      display: flex;

      .user.MuiListItem-button {
        background-color: transparent;
      }

      &:nth-of-type(odd) {
        background-color: rgba(255, 255, 255, 0.03);
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.08);
      }

      &__bt-add {
        border-radius: 0;
      }
    }
  }
}
