.login {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 16px;

  &__container {
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;

    h1 {
      font-weight: 100;
      font-size: 44px;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-bottom: 20px;

    .user {
      width: 100%;
    }
  }

  &__user {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &__avatar {
      &.MuiAvatar-root {
        margin-bottom: 16px;
        width: 100px;
        height: 100px;
      }
    }

    &__profile {
      margin-bottom: 10px;
    }

    &__name {
      font-size: 22px;
    }

    &__email {
      font-weight: 300;
    }
  }

  .fetch-data-log {
    max-height: 86px;
    overflow-y: auto;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    transform: translate(-50%, 100%);
    left: 50%;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.03);
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: rgba(255, 255, 255, 0.03);
    }
  }
}
