@import '../../scss/constants.scss';

.header {
  &.MuiAppBar-root {
    background-color: rgba(#222, 0.75);
    backdrop-filter: blur(5px);
    background-image: none;
    box-shadow: none;
    margin-top: 32px;
  }

  &__content {
    min-height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__drawer {
    display: unset;

    @media screen and(min-width: 567px) {
      display: none;
    }
  }

  &__menu {
    display: none;

    @media screen and(min-width: 567px) {
      display: unset;
    }
  }
}
