@import "../../scss/constants.scss";

.header {
  background-color: rgba(43, 43, 43, 0.95);
  position: fixed;
  top: 0;
  width: 100%;
  padding: 16px 0;
  z-index: 100;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__drawer {
    display: unset;

    @media screen and(min-width: 567px) {
      display: none;
    }
  }

  &__menu {
    display: none;

    @media screen and(min-width: 567px) {
      display: unset;
    }
  }
}
