.screen {
  padding: 84px 0 150px;

  &__header {
    padding: 16px 0;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    min-height: 72px;

    @media screen and (min-width: 600px) {
      flex-direction: row;
      align-items: center;
    }

    h2 {
      margin: 0;
      font-size: 22px;
      font-weight: 100;
    }

    &__left,
    &__right {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }
}
